@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-ig-white: oklch(0.95 0 0);
  --color-ig-black: oklch(0.20 0 0);
}
